<form class="form-horizontal extra-left-padding">

    <div class="form-group">
        <div class="col-sm-12">
            <h1>Hello! May i know your name?</h1>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-3">
            <input type="text" class="form-control" ng-model="player.name"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2">
            <button class="btn btn-primary" ng-click="login(player)">Enter</button>
        </div>
    </div>
</form>