<form class="form-horizontal">

    <div class="form-group">
        <div class="col-sm-4">
            <h1>New Raid</h1>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-3">
            <textarea class="form-control" rows="3"  ng-model="raid.raidInfo"></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2">
            <button class="btn btn-primary" ng-click="addNewRaid(raid)">Save</button>
        </div>
    </div>
</form>
